@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  padding: 0;
  background: #14131a;
  color: white;
}
.cover {
  background-image: url("src/Components/images/back.png");
}
